USE [Fattos]
GO
/****** Object:  Table [dbo].[Tarefas]    Script Date: 01/08/2025 14:15:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarefas](
	[Nome_da_tarefa] [varchar](255) NULL,
	[Custo] [float] NULL,
	[Data_limite] [datetime] NULL,
	[Ordem_de_apresentacao] [int] NULL,
	[Identificador_da_tarefa] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Identificador_da_tarefa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
